{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Início{% endblock %}

{% block page_content %}
<div class="page-header">
    {% for coment in coments %}
    <div class="card" id="coisa">
        <div class="card-header">
            De: {{ coment.docente }} - {{ coment.disciplina }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Sobre: {{ coment.discente }} - {{ coment.classeT }}</h5>
            <p class="card-text">Comentário: {{ coment.comentario }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<style type="text/css">
    #coisa{
        width: auto;
        height: auto;
        background: #FFFFFF;
        color: black;
        padding: 20px;
        border: 5px solid #CCC;
    }
</style>
{% endblock %}